@import "https://www.nerdfonts.com/assets/css/webfont.css";

:root {
    --primary-color: #2b2b47;
    --secondary-color: #8282ff;
    --tertiary-color: #e7e7ff;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12px;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
}

header {
    position: fixed;
    display: flex;
    flex-direction: row;
    align-self: center;
    justify-content: space-between;
    width: 100%;
    height: fit-content;
    background-color: var(--primary-color);
    border-bottom: 2px solid var(--secondary-color);
    padding: 1rem;
    gap: 1rem;
}



header summary {
    color: var(--secondary-color);
    font-size: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 1rem;
    cursor: pointer;
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    transition: all .1s ease-in-out;
}

header summary:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

header details[open] summary {
    color: var(--primary-color);
    font-weight: bold;
    background-color: var(--secondary-color);
}

.filters {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 1rem 2rem;
    justify-content: center;
}

header button {
    background-color: var(--primary-color);
    border: 2px solid var(--secondary-color);
    color: var(--secondary-color);
    min-width: 2.5rem;
}

header button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
}

/* SESSÕES DE BOTÕES */

#taskHeaderButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    justify-content: flex-start !important;
}

#fileHeaderButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

#fileHeaderButtons .icon-file {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    align-items: center;
    justify-content: right;
    color: var(--secondary-color);
    opacity: 50%;
    font-size: 1.5rem;
}

/* TASK LISTS */

main {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    padding: 1.5rem;
    padding-top: 7rem;
    gap: 1.5rem;
}

.task-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    padding: 1.5rem;
    height: 75vh;
    gap: 1rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);;
}

#ongoingTaskContainer {
    width: 70%;
    min-width: 70%;
    max-width: 70%;
}

#completedTaskContainer {
    width: 30%;
    min-width: 30%;
    max-width: 30%;
}

.task-list {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
    gap: 1rem;
    padding: 1.5rem;
    box-shadow: inset 0 0 1rem rgba(0, 0, 0, 0.3);
    border-radius: 1rem;
}

::-webkit-scrollbar {
    width: 1rem;
    background-color: transparent;
    padding: 1rem;
    margin: 1rem;
}

::-webkit-scrollbar-track {
    margin: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--secondary-color);
    border: 3px solid var(--primary-color);
    border-radius: 1rem;
}

.task-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border: 2px solid var(--secondary-color);
    border-left: 10px solid var(--secondary-color);
    border-radius: 1rem;
    padding: 1.5rem;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.3);
}

/* INSIDE DA TASK */

.task-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.task-disciplina {
    width: fit-content;
    height: fit-content;
    padding: .3rem 1rem;
    border-radius: 1rem;
    color: var(--primary-color);
    font-weight: 600;
}

.task-name {
    font-size: 1.5rem;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; /* Adiciona os "..." quando o texto é cortado */
    white-space: nowrap; /* Impede a quebra de linha */
}

.task-status {
    width: 2.5rem;
    height: 2.5rem;
}

.task-buttons {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 2.5rem;
}

.task-buttons input[type="checkbox"],
header input[type="checkbox"] {
    max-width: 100%;
    max-height: 100%;
}

/* MODAL DE TASK */

.modal {
    display: none;
    position: fixed;
    right: 20%;
    left: 20%;
    top: 20%;
    bottom: 20%;
    background-color: var(--primary-color);
    border-radius: 1rem;
    border: 2px solid;
    z-index: 1000;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 0 3rem rgba(0, 0, 0, 0.3);
}

.modal-content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.modal-header,
#modalInfo {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#taskHeaderButtons {
    display: flex;
    flex-direction: row;
    gap: 1rem;    
}

#taskDetails,
.task-details {
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    border-radius: 1rem;
    padding: 1.5rem;
    height: 100% !important;
}

#taskDetails .task-description,
.task-details .task-description {
    height: 100%;
    width: 100%;
    white-space: pre-wrap; /* Respeita espaços em branco e quebra de linhas */
    word-wrap: break-word; /* Quebra de linha para palavras longas */


    overflow-y: auto;
}

#taskFooter {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.task-date {
    font-size: 1rem;
    align-self: center;
    height: 2rem;
    padding: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    font-weight: bold;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    align-self: flex-end;
}

/* CHECKBOXES */
input[type="checkbox"] {
    appearance: none;
    width: 2.5rem;
    max-width: 100%;
    height: 2.5rem;
    max-height: 100%;
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    background-color: transparent;
    cursor: pointer;
    outline: none; /* Remove a borda ao focar */
}

input[type="checkbox"]:checked {
    background-color: var(--secondary-color); /* Cor de fundo quando estiver selecionado */
}

header label {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 9rem;
    text-align: center;
}

/* DISCIPLINAS */

.task-sociologia,
.task-sociologia input[type="checkbox"] {
    border-color: #ffe282;
}

.task-sociologia .task-disciplina,
.task-sociologia button,
.task-sociologia .task-date {
    background-color: #ffe282 !important;
}

.task-educacao-fisica,
.task-educacao-fisica input[type="checkbox"] {
    border-color: #82aeff;
}

.task-educacao-fisica .task-disciplina,
.task-educacao-fisica button,
.task-educacao-fisica .task-date {
    background-color: #82aeff;
}

.task-projeto-digital,
.task-projeto-digital input[type="checkbox"] {
    border-color: #d782ff;
}

.task-projeto-digital .task-disciplina,
.task-projeto-digital button,
.task-projeto-digital .task-date {
    background-color: #d782ff;
}

.task-gestao,
.task-gestao input[type="checkbox"] {
    border-color: #ffbe82;
}

.task-gestao .task-disciplina,
.task-gestao button,
.task-gestao .task-date {
    background-color: #ffbe82;
}

.task-portugues,
.task-portugues input[type="checkbox"] {
    border-color: #ff8282;
}

.task-portugues .task-disciplina,
.task-portugues button,
.task-portugues .task-date {
    background-color: #ff8282;
}

.task-ilustracao,
.task-ilustracao input[type="checkbox"] {
    border-color: #9d82ff;
}

.task-ilustracao .task-disciplina,
.task-ilustracao button,
.task-ilustracao .task-date {
    background-color: #9d82ff;
}

.task-informatica,
.task-informatica input[type="checkbox"] {
    border-color: #82f0ff;
}

.task-informatica .task-disciplina,
.task-informatica button,
.task-informatica .task-date {
    background-color: #82f0ff;
}

.task-projeto-visual,
.task-projeto-visual input[type="checkbox"] {
    border-color: #cfff82;
}

.task-projeto-visual .task-disciplina,
.task-projeto-visual button,
.task-projeto-visual .task-date {
    background-color: #cfff82;
}

.task-projeto-editorial,
.task-projeto-editorial input[type="checkbox"] {
    border-color: #82ff8c;
}

.task-projeto-editorial .task-disciplina,
.task-projeto-editorial button,
.task-projeto-editorial .task-date {
    background-color: #82ff8c;
}

.task-relacoes-humanas,
.task-relacoes-humanas input[type="checkbox"] {
    border-color: #96c4cf;
}

.task-relacoes-humanas .task-disciplina,
.task-relacoes-humanas button,
.task-relacoes-humanas .task-date {
    background-color: #96c4cf;
}

/* TASK COMPLETAS */

#completed-task-list .task-item,
#completed-task-list input[type="checkbox"] {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
}

#completed-task-list .task-disciplina,
#completed-task-list button,
#completed-task-list input[type="checkbox"]:checked,
#completed-task-list .task-date {
    background-color: var(--secondary-color) !important;
}

#completed-task-list .task-name,
#completed-task-list .task-description {
    text-decoration: line-through;
}

/* CREATE TASK MODAL */

#createTaskModal {
    border-color: var(--secondary-color);
    color: var(--secondary-color);
    height: fit-content;
}

#createTaskModal .task-details {
    color: var(--tertiary-color);
    display: flex;
    flex-direction: column;
    align-items: left;
    height: fit-content;
    overflow-y: auto;
}

#taskNameLabel,
#taskDisciplineLabel,
#taskDescriptionLabel,
#taskDateLabel {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: .5rem;
    padding-bottom: 1rem;
    
}

#taskName,
#taskDiscipline,
#taskDescription,
#taskDate {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: 2px solid var(--secondary-color);
    border-radius: 1rem;
    min-height: 2rem;
    padding: .2rem .8rem;
    font-size: 1rem !important;
    font-family: 'Poppins', sans-serif;
    outline: none;
}

#taskDescription {
    height: 6rem;
    width: 100%;
    padding: .4rem .8rem;
    resize: none;
    overflow-y: scroll;
}

/* BOTÕES */

button {
    width: 2.5rem;
    height: 2.5rem;
    min-height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem;
    background-color: var(--secondary-color);
    color: var(--primary-color);
    outline: none;
    border: none;
    transition: all .2s ease-in-out;
}

button:hover {
    background-color: var(--secondary-color);
    color: var(--primary-color);
    cursor: pointer;
}

/* MEDIA QUERIES */
@media (max-width: 600px) {
    main {
        flex-wrap: wrap; /* Quebra de linha quando a tela for pequena */
    }

    #ongoingTaskContainer,
    #completedTaskContainer {
        width: 100% !important; /* Ocupa 100% da largura da tela */
    }
    .filters {
        gap: .5rem;
    }
}

/* HEADER FIX */

#fileHeaderButtons {
    position: absolute;
    right: 1rem;
}

#openCreateTaskModal {
    z-index: 1000;
    position: fixed;
    left: 8rem;
}
#clearFiltersButton {
    z-index: 1000;
    position: fixed;
    left: 4.5rem;
}

#taskHeaderButtons .filters {
    padding-top: 2rem;
}

@media (max-width: 972px) {
    main {
        flex-wrap: wrap; /* Quebra de linha quando a tela for pequena */
    }

    #ongoingTaskContainer,
    #completedTaskContainer {
        width: 100% !important; /* Ocupa 100% da largura da tela */
        min-width: 100%;
        max-width: 100%;
    }
    .filters {
        gap: .5rem;
    }

    .modal {
        align-self: center;
        left: 1rem;
        right: 1rem;
        height: 75vh;
    }
}